body {
}

h1 {
  text-align: center;
  font-family: "Rye", cursive;
  font-size: 80px;
  text-transform: lowercase;
  text-decoration: underline;
}

p {
  font-family: "Fredericka the Great", cursive;
  font-size: 30px;
  text-align: center;
  line-height: 80px;
}

#brief-description {
  margin-top: 30px;
}

#sentence-underlined {
  text-transform: uppercase;
  font-weight: 600;
}

li {
  font-family: "Fredericka the Great", cursive;
  font-size: 30px;
  margin: 50px 0;
  list-style-type: none;
}

h4 {
  font-family: "Fredericka the Great", cursive;
  text-align: center;
  margin: 50px 0;
}

img {
  max-width: 400px;
}

#check-out {
  font-style: italic;
  font-family: "Fredericka the Great", cursive;
  text-align: center;
  margin: 50px 0;
}
